<%include header.ejs%>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><%=title%></h1>
			<p>Welcome to <%=title%></p>
			<p>
				<a class="btn btn-default" href="/">首页</a>
			</p>
			
			<p>my home</p>
		</div>
	</div>
</div>

<%include footer.ejs%>
